<wm-page name="page1" data-ng-controller="EmployeeDetailsPageController"> 
    <wm-header name="header1" content="header"></wm-header> 
    <wm-top-nav name="top_nav1" content="topnav"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-left-panel name="left_panel1" columnwidth="2" content="leftnav"></wm-left-panel> 
        <wm-page-content name="page_content1" columnwidth="10"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn name="gridcolumn4" columnwidth="12"> 
                        <wm-search name="search2" on-submit="Variables.HrdbSelectEmployeeVar.invoke();ListGoogleApiInvoke" displayimagesrc="PICURL" dataset="bind:Variables.HrdbSearchEmployees.dataSet" searchkey="FIRSTNAME" displaylabel="FIRSTNAME" datafield="EID"></wm-search> 
                        <wm-panel name="panel1" expanded="true" show="true" closable="false" title="Employee Details" class="panel-default" collapsible="false" showheader="true"> 
                            <wm-layoutgrid name="layoutgrid2"> 
                                <wm-gridrow name="gridrow4"> 
                                    <wm-gridcolumn name="gridcolumn10" columnwidth="2"> 
                                        <wm-picture width="100%" name="picture1" picturesource="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].PICURL"></wm-picture> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn name="gridcolumn11" columnwidth="4" padding="unset unset unset .5em"> 
                                        <wm-layoutgrid name="layoutgrid3"> 
                                            <wm-gridrow name="gridrow6"> 
                                                <wm-gridcolumn name="gridcolumn15" columnwidth="12"></wm-gridcolumn> 
                                                <wm-gridcolumn name="gridcolumn16" columnwidth="12"> 
                                                    <wm-label name="label26" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].FIRSTNAME" fontsize="20"></wm-label> 
                                                    <wm-label name="label10_1" fontsize="20" caption="bind:&quot; &quot;+Variables.HrdbEmployeeSelectVar.dataSet[$i].LASTNAME"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow7"></wm-gridrow> 
                                            <wm-gridrow name="gridrow8"> 
                                                <wm-gridcolumn name="gridcolumn17" columnwidth="12"> 
                                                    <wm-label name="label12" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].BIRTHDATE | toDate: 'yyyy, dd MMMM'"></wm-label> 
                                                </wm-gridcolumn> 
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn18_2"> 
                                                    <wm-label caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].JOBTITLE" name="label13_1"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow9"> 
                                                <wm-gridcolumn name="gridcolumn18" columnwidth="12"> 
                                                    <wm-label name="label13" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].STREET"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow10"> 
                                                <wm-gridcolumn name="gridcolumn19" columnwidth="12"> 
                                                    <wm-label name="label14" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].CITY"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                            <wm-gridrow name="gridrow11"> 
                                                <wm-gridcolumn name="gridcolumn20" columnwidth="12"> 
                                                    <wm-label name="label15" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet[$i].STATE"></wm-label> 
                                                    <wm-label name="label11_1" caption="bind:&quot; - &quot;+Variables.HrdbEmployeeSelectVar.dataSet[$i].ZIP"></wm-label> 
                                                </wm-gridcolumn> 
                                            </wm-gridrow> 
                                        </wm-layoutgrid> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn name="gridcolumn14" columnwidth="6"> 
                                        <wm-prefab height="300px" locations="bind:Variables.HrdbEmployeeSelectVar.dataSet" name="googlemaps2" prefabname="googlemaps" address="STREET CITY STATE" markertype="Address" info="CITY"></wm-prefab> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow14_1"> 
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn19_1"> 
                                        <wm-label name="label9" caption="Teammates" fontsize="14"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn20_1"> 
                                        <wm-label name="label11" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet.content[$i].DEPTID | toNumber" show="false"></wm-label> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn21"> 
                                        <wm-label name="label12_2" caption="bind:Variables.HrdbEmployeeSelectVar.dataSet.content[$i].EID | toNumber" show="false"></wm-label> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow13"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16_1"> 
                                        <wm-list listclass="list-group" name="colleagues" itemsperrow="3" dataset="bind:Variables.Hrdb_ColleagueDetails.dataSet"> 
                                            <wm-listtemplate layout="media" name="listtemplate1"> 
                                                <wm-container class="media" name="container9"> 
                                                    <wm-container class="media-left" name="container10"> 
                                                        <wm-picture class="media-object picture" shape="circle" width="100" name="picture4" picturesource="bind:Variables.Hrdb_ColleagueDetails.dataSet[$i].PICURL"></wm-picture> 
                                                    </wm-container> 
                                                    <wm-container class="media-body" data-template-ctr="true" name="container11"> 
                                                        <wm-label width="100%" caption="bind:Variables.Hrdb_ColleagueDetails.dataSet.FIRSTNAME+' '+Variables.Hrdb_ColleagueDetails.dataSet[$i].LASTNAME" name="label21"></wm-label> 
                                                        <wm-label width="100%" caption="bind:Variables.Hrdb_ColleagueDetails.dataSet.NAME" name="label14_1"></wm-label> 
                                                    </wm-container> 
                                                </wm-container> 
                                            </wm-listtemplate> 
                                        </wm-list> 
                                    </wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn17_1"></wm-gridcolumn> 
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn18_1"></wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow12_1"> 
                    <wm-gridcolumn name="gridcolumn16_2" columnwidth="12"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer name="footer1" content="footer"></wm-footer> 
</wm-page>